<p-panel header="Ajouter un médicament">
    <form [formGroup]="addMedicamentForm">
    <div class="p-fluid">
        <div class="p-field">
            <label for="medicamentName">Nom du médicaments</label>
            <input id="addMedicamentName" type="text" pInputText formControlName="medicamentName"> 
        </div>
        <div class="p-field">
            <label for="medicamentCode">Code du médicament</label>
            <input id="addMedicamentCode" type="text" pInputText formControlName="medicamentCode"> 
        </div>
        <div class="p-field">
            <label for="posologie">Posologie du médicament</label>
            <input id="posologie" type="text" pInputText formControlName="posologie"> 
        </div>
        <div class="p-field">
            <label for="datePeremption">Date de péremption du médicament</label>
            <input id="datePeremption" type="date" pInputText formControlName="datePeremption"> 
        </div>
        <div class="p-field">
            <button pButton type="button" (click)="AddMedicament();" class="p-button-raised p-button-rounded" [disabled]="!addMedicamentForm.valid" icon="pi pi-plus"> 
                 </button>
        </div>
        
    </div>
</form>
</p-panel>
