<p-panel header="Ajouter une pharmacie">
    <form [formGroup]="pharmacieForm">
    <div class="p-fluid">
        <div class="p-field">
            <label for="pharmacieName">Nom de la pharmacie</label>
            <input id="pharmacieName" type="text" pInputText formControlName="pharmacieName"> 
        </div>
        <div class="p-field">
            <label for="pharmacieCode">Code de la Pharmacie</label>
            <input id="pharmacieCode" type="text" pInputText formControlName="pharmacieCode"> 
        </div>
        <div class="p-field">
            <label for="pharmacieAdresse">adresse de la pharmacie</label>
            <input id="pharmacieAdresse" type="text" pInputText formControlformControlName="pharmacieAdresse"> 
        </div>
        <div class="p-field">
            <button pButton type="button" (click)="AddPharmacie();" class="p-button-raised p-button-rounded" [disabled]="!pharmacieForm.valid" icon="pi pi-plus"> 
                 </button>
        </div>
        
    </div>
</form>
</p-panel>
